{% include 'website/index.html' with is_latest_record=is_latest_record %}

{% block content %}
<div style="background-color: #DDE7F2 !important; height: 100%; min-height: 100vh;">
<div class="container" style="margin-top: 70px;">
  <div class="row marquee">
    <marquee loop="infinite" height="25" style=" margin-top: 5px; font-size: 18px; width: max-width !important;">
      <p><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; उत्तराखण्ड शासन के शिक्षा अनुभाग- 2 के शासनादेश संख्या-837/XXIV-2/ 08-23(1) 2008 के जरिये दिनांक 27-नवम्बर-2008 के अनुसार उत्तर प्रदेश (सेवा संघों को मान्यता)नियमावली-1979 के नियम 3(1) के प्रावधानों के अनुसार एवं उक्त नियमावली में उल्लेखित नियमों / शर्तों के अधीन “राजकीय शिक्षक संघ” को मान्यता प्रदान की गयी थी | संघ को मान्यता प्राप्त होने के पश्चात “राजकीय शिक्षक संघ,उत्तराखण्ड” का लिखित संविधान संघ के प्रथम प्रांतीय द्विवार्षिक अधिवेशन, राजकीय इंटर कॉलेज, अल्मोड़ा,जनपद- अल्मोड़ा में दिनांक 28-अगस्त-2009 को पारित कर उसी दिन से लागू किया गया। </strong></p>
    </marquee>
  </div>
</div>
  <div class="container">
    <p style="text-align: center; font-size: 30px; font-weight: bold; padding-top: 30px;"><strong>Ask Your Question</strong></p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
          <label for="exampleFormControlInput1">Name</label>
          <input name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your name..." maxlength="100" required>
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput3">School Name</label>
          <input name="school_name" type="text" class="form-control" id="exampleFormControlInput3" placeholder="Your school name..." maxlength="100" required>
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput4">Phone Number</label>
          <input name="phone" type="tel" class="form-control" id="exampleFormControlInput4" placeholder="Your Phone Number..." maxlength="10" required>
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput2">E-mail</label>
          <input name="email" type="email" class="form-control" id="exampleFormControlInput2`" placeholder="name@example.com" pattern="[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$">
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">We are Happy to Help</label>
          <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="What's on your mind..."></textarea>
        </div>

        <div class="form-group">
          <label for="exampleFormControlFile1">Attachment</label>
          <input name="file" type="file" class="form-control" id="exampleFormControlFile1">
        </div>

        <input type="submit" value="Submit" />
    </form>
  </div>
</div>
{% endblock content %}
