{% include 'website/index.html' with is_latest_record=is_latest_record %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
 <div style=" background-color: #F6E5F5; height: 100%; min-height: 100vh;"> <!--</div> background-image: url({% static 'images/about.jpg' %});"> -->
    <div class="container" style="margin-top: 70px;">
    <div class="row marquee">
      <marquee loop="infinite" height="25" style=" margin-top: 5px; font-size: 18px; width: max-width !important;">
        <p><strong > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; उत्तराखण्ड शासन के शिक्षा अनुभाग- 2 के शासनादेश संख्या-837/XXIV-2/ 08-23(1) 2008 के जरिये दिनांक 27-नवम्बर-2008 के अनुसार उत्तर प्रदेश (सेवा संघों को मान्यता)नियमावली-1979 के नियम 3(1) के प्रावधानों के अनुसार एवं उक्त नियमावली में उल्लेखित नियमों / शर्तों के अधीन “राजकीय शिक्षक संघ” को मान्यता प्रदान की गयी थी | संघ को मान्यता प्राप्त होने के पश्चात “राजकीय शिक्षक संघ,उत्तराखण्ड” का लिखित संविधान संघ के प्रथम प्रांतीय द्विवार्षिक अधिवेशन, राजकीय इंटर कॉलेज, अल्मोड़ा,जनपद- अल्मोड़ा में दिनांक 28-अगस्त-2009 को पारित कर उसी दिन से लागू किया गया। </strong></p>
      </marquee>
    </div>
  </div>
    <div class="container">
        <br/>
        <br/>

        <div class="row">
          <div class="col-md-3">
            <p><b>भारतेंदु जोशी</b></p>
              <i class="fa fa-whatsapp" aria-hidden="true">&nbsp;</i>(+91-9690817335)<br/>
              <i class="fa fa-phone" aria-hidden="true">&nbsp;</i>(+91-9690817335)
          </div>
          <div class="col-md-3">
            <p><b>भूपाल सिंह चिलवाल</b></p>
              <i class="fa fa-whatsapp" aria-hidden="true">&nbsp;</i>(+91-9412166391)<br/>
              <i class="fa fa-phone" aria-hidden="true">&nbsp;</i>(+91-6396364943)
          </div>
          <div class="col-md-3">
            <p><b>मीनाक्षी जोशी</b></p>
              <i class="fa fa-whatsapp" aria-hidden="true">&nbsp;</i>(+91-8941032780)<br/>
          </div>
          <div class="col-md-3">
            <p><b>दिनेश पंत</b></p>
              <i class="fa fa-whatsapp" aria-hidden="true">&nbsp;</i>(+91-9012011303)<br/>
          </div>
        </div>

        <br/>

        <div class="row">
          <div class="col-md-3">
            <p><b>कैलाश रावत</b></p>
              <i class="fa fa-whatsapp" aria-hidden="true">&nbsp;</i>(+91-9412097273)<br/>
          </div>
          <div class="col-md-3">
            <p><b>मदन सिंह भंडारी</b></p>
              <i class="fa fa-whatsapp" aria-hidden="true">&nbsp;</i>(+91-9412104070)<br/>
          </div>
          <div class="col-md-3">
            <p><b>जीवन सिंह नेगी</b></p>
              <i class="fa fa-whatsapp" aria-hidden="true">&nbsp;</i>(+91-9411119707)<br/>
          </div>
          <div class="col-md-3">
          </div>
        </div>
        
        <br/>
        <br/>

        <p><b>Email: </b><a href="mailto: rssalmora2022@gmail.com">rssalmora2022@gmail.com</a></p>
    </div>
  </div>
{% endblock %}
