{% include 'website/index.html' with is_latest_record=is_latest_record %}
{% load static %}

{% block content %}

<div class="container" style="margin-top: 70px; ">
  <div class="row marquee">
    <marquee behavior="alternate" direction="left" height="25" style=" margin-top: 5px; font-size: 20px; width: max-width !important; color: #FB2576;">
      <p><strong>राजकीय शिक्षक संघ (अल्मोड़ा)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;राजकीय शिक्षक संघ (अल्मोड़ा)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;राजकीय शिक्षक संघ (अल्मोड़ा)</strong></p>
    </marquee>
  </div>
</div>

  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel" >
    <div class="carousel-inner" style="margin-left: 15%;">
      <div class="carousel-item active" data-interval="10000">
        <img src="{% static 'images/1.jpg' %}" style="height: 400px; width:1285px !important; object-fit: cover; object-position: center; overflow: hidden;" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>

      <div class="carousel-item" data-interval="10000">
        <img src="{% static 'images/2.jpg' %}" style="height: 400px; width:1285px !important; object-fit: cover; object-position: center; overflow: hidden;" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>

      <div class="carousel-item" data-interval="10000">
        <img src="{% static 'images/5.jpg' %}" style="height: 400px; width:1285px !important; object-fit: cover; object-position: center; overflow: hidden;" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>

      <div class="carousel-item" data-interval="10000">
        <img src="{% static 'images/6.jpg' %}" style="height: 400px; width:1285px !important; object-fit: cover; object-position: center; overflow: hidden;" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>

      <div class="carousel-item" data-interval="10000">
        <img src="{% static 'images/8.jpg' %}" style="height: 400px; width:1285px !important; object-fit: cover; object-position: center; overflow: hidden;" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>

      <div class="carousel-item" data-interval="10000">
        <img src="{% static 'images/9.jpg' %}" style="height: 400px; width:1285px !important; object-fit: cover; object-position: center; overflow: hidden;" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>

      <div class="carousel-item" data-interval="10000">
        <img src="{% static 'images/10.jpg' %}" style="height: 400px; width:1285px !important; object-fit: cover; object-position: center; overflow: hidden;" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>

      <div class="carousel-item" data-interval="10000">
        <img src="{% static 'images/11.jpg' %}" style="height: 400px; width:1285px !important; object-fit: cover; object-position: center; overflow: hidden;" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>

      <div class="carousel-item" data-interval="10000">
        <img src="{% static 'images/12.jpg' %}" style="height: 400px; width:1285px !important; object-fit: cover; object-position: center; overflow: hidden;" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>

      <div class="carousel-item" data-interval="10000">
        <img src="{% static 'images/13.jpg' %}" style="height: 400px; width:1285px !important; object-fit: cover; object-position: center; overflow: hidden;" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>

      <div class="carousel-item" data-interval="10000">
        <img src="{% static 'images/14.jpg' %}" style="height: 400px; width:1285px !important; object-fit: cover; object-position: center; overflow: hidden;" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>

      <div class="carousel-item" data-interval="10000">
        <img src="{% static 'images/15.jpg' %}" style="height: 400px; width:1285px !important; object-fit: cover; object-position: center; overflow: hidden;" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div class="card-group">
    <div class="card" style="height: 40%;">
      <img src="{% static 'images/btj.jpg' %}" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">भारतेंदु जोशी</h5>
        <p class="card-text">जिला अध्यक्ष</p>
      </div>
    </div>

    <div class="card" style="height: 40%;" >
      <img src="{% static 'images/minakshi.jpg' %}" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">मीनाक्षी जोशी</h5>
        <p class="card-text">जिला उपाध्यक्ष (म.)</p>
      </div>
    </div>

    <div class="card" style="height: 40%;" >
      <img src="{% static 'images/dnesh.jpg' %}" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">दिनेश पंत</h5>
        <p class="card-text">जिला उपाध्यक्ष</p>
      </div>
    </div>

    <div class="card" style="height: 40%;" >
      <img src="{% static 'images/chilwal.jpg' %}" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">भूपाल सिंह चिलवाल</h5>
        <p class="card-text">जिला मंत्री</p>
      </div>
    </div>

    <div class="card" style="height: 40%;" >
      <img src="{% static 'images/kailash.jpg' %}" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">कैलाश रावत</h5>
        <p class="card-text">जिला संयुक्त मंत्री</p>
      </div>
    </div>
    <div class="card" style="height: 40%;">
      <img src="{% static 'images/azra.jpg' %}" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">अज़रा परवीन</h5>
        <p class="card-text">जिला सयुंक्त मंत्री (म.)</p>
      </div>
    </div>

    <div class="card" style="height: 40%;">
      <img src="{% static 'images/madan.jpg' %}"  class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">मदन सिंह भंडारी</h5>
        <p class="card-text">संगठन मंत्री</p>
      </div>
    </div>

    <div class="card" style="height: 40%;">
      <img src="{% static 'images/raina.jpg' %}" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">रैना अधिकारी</h5>
        <p class="card-text">संगठन मंत्री (म.)</p>
      </div>
    </div>

    <div class="card" style="height: 40%;">
      <img src="{% static 'images/jeevan.jpg' %}" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">जीवन सिंह नेगी</h5>
        <p class="card-text"> आय-व्यय निरक्षक</p>
      </div>
    </div>
  </div>

  <br/>

<div class="flex-container">
  <div class="row marquee" style="height: 400px; width: 70%; margin-left: 10px;">
    <marquee behavior="infinite" direction="up" scrollamount="3">
      <p><strong>
        {% for record in records %}
          <ul>
            <li>
            <a target="_blank" href="{{ record.file.url }}" download>{{ record.file_name }}</a></br>
          </li>
        </ul>
        {% endfor %}
      </strong></p>
    </marquee>
  </div>
    <!-- <div class="row marquee" style="height: 400px; width: 70%; color: red;  ">
      <marquee behavior="infinite" direction="up" scrollamount="3">
        <p><strong>राजकीय शिक्षक संघ (अल्मोड़ा)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;राजकीय शिक्षक संघ (अल्मोड़ा)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;राजकीय शिक्षक संघ (अल्मोड़ा)</strong></p>
      </marquee>
    </div> -->
  </div>

  <br/>
<div class="rr">
  <div class="row" >
    <div class="container">
        <div class="subfooter">
            <div class="row">
              <div class="col-lg-2" style="margin-right: 30px;">
                <a href="https://scert.uk.gov.in/ " target="_blank">
                  <img src="{% static 'images/scert.jpg' %}" style="height: 150px; width: 200px;" class="img-responsive">
                </a>
              </div>
              <div class="col-lg-2" style="margin-right: 30px;">
                <a href="https://schooleducation.uk.gov.in/ " target="_blank">
                  <img src="{% static 'images/schooledu.jpg' %}" style="height: 150px; width: 200px;" class="img-responsive">
                </a>
              </div>
              <div class="col-lg-2" style="margin-right: 30px;">
                <a href="https://educationportal.uk.gov.in/LoginPage" target="_blank">
                  <img src="{% static 'images/schooleduportal.jpg' %}" style="height: 150px; width: 200px;" class="img-responsive">
                </a>
              </div>
              <div class="col-lg-2" style="margin-right: 30px;">
                <a href="https://siemat.uk.gov.in/ " target="_blank">
                  <img src="{% static 'images/siemat.jpg' %}" style="height: 150px; width: 200px;" class="img-responsive">
                </a>
              </div>
              <div class="col-lg-2" style="margin-right: 30px;">
                <a href="https://ubse.uk.gov.in/ " target="_blank">
                  <img src="{% static 'images/ubse.jpg' %}" style="height: 150px; width: 200px;" class="img-responsive">
                </a>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>

  <br/>
  <br/>
  <div class="copyright">
    <div class="footer" style="text-align: center;" >
      राजकीय शिक्षक संघ (अल्मोड़ा) © 2022 | All Rights Reserved. Managed by 
      <a style="color: black;" href="https://www.facebook.com/" target="_blank">Gaurav Fulara</a>&nbsp;&nbsp;<i class="fa fa-whatsapp" aria-hidden="true">&nbsp;</i>7253827202
    </div>
  </div>
  
{% endblock %}
