.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}
.card-title {
  font-weight: 900;
}


.flex-container{
  display: flex;
  height: 400px;
  border-color: green;
}
.fa-whatsapp{
  color: green;
}

.copyright {
  background: white;
  color: #b97777;
  padding: 15px 0;
}

.form{
  top: 150px;
  left: 78%;
  /* padding: 30px,30px,30px,30px; */
  position: absolute;
  width: 20%;
  background-color: #f7f7f7 !important;
}

/* .form1{
  margin-left: 20%;
} */
.form1{
  top: 650px;
  left: 78%;
  /* padding: 30px,30px,30px,30px; */
  position: absolute;
  width: 20%;
  background-color: #f7f7f7 !important;
}


  .hr{
    background-color: none;
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(26, 8, 8);
    border-width: 5px;
    width: 5%;
    /* height: : 0px; */
   }
